<!DOCTYPE html>
<html lang="fr">

<% include ./components/head.ejs %>

<body>
    <h1>Home</h1>
    <% include ./components/header.ejs %>

    <main>

    </main>

    <% include ./components/footer.ejs %>


</body>

</html>