<!DOCTYPE html>
<html lang="fr">

<% include ./components/head.ejs %>

<body>
    <h1>Register</h1>
    <% include ./components/header.ejs %>
    <% include ./components/footer.ejs %>
</body>

</html>