<main>
    <form class="myForm">
        <h1>Inscription</h1>

        <label>Identifiant</label>
        <input type="text" />

        <label>Email</label>
        <input type="email" />

        <label>Mot de passe</label>
        <input type="password"/>

        <button>Envoyer</button>
    </form>
</main>